[
  {ida, 1},
  {lva, 50},
  {hpa, 5000},
  {careera, 1},
  {hpMaxa, 5000},
  {mpMaxa, 100},
  {luckya, 5},
  {cursea, 5},
  {atkMina, 20},
  {atkMaxa, 100},
  {magicAtkMina, 0},
  {magicAtkMaxa, 0},
  {dowAtkMina, 0},
  {dowAtkMaxa, 0},
  {defMina, 10},
  {defMaxa, 30},
  {magicDefMina, 20},
  {magicDefMaxa, 25},
  {hitRatea, 10},
  {missRatea, 10},
  {aspeeda, 20},
  {crita, 5000},
  {cancelDamagePercenta, 0},
  {harma, 60},

  {idb, 2},
  {lvb, 50},
  {hpb, 5000},
  {careerb, 3},
  {hpMaxb, 5000},
  {mpMaxb, 100},
  {luckyb, 5},
  {curseb, 5},
  {atkMinb, 0},
  {atkMaxb, 0},
  {magicAtkMinb, 50},
  {magicAtkMaxb, 100},
  {dowAtkMinb, 0},
  {dowAtkMaxb, 0},
  {defMinb, 10},
  {defMaxb, 30},
  {magicDefMinb, 20},
  {magicDefMaxb, 25},
  {hitRateb, 10},
  {missRateb, 10},
  {aspeedb, 20},
  {critb, 5000},
  {cancelDamagePercentb, 0},
  {harmb, 60}
] .
