[
  {db_ls, db_ls},
  {db_ls_host, "127.0.0.1"},
  {db_ls_port, 3306},
  {db_ls_user, "root"},
  {db_ls_pass, "123456"},
  {db_ls_name, "dragonlogindata"},


  {db_log, db_log},
  {db_log_host, "127.0.0.1"},
  {db_log_port, 3306},
  {db_log_user, "root"},
  {db_log_pass, "123456"},
  {db_log_name, "dragonloginlog"},

  {tcp_client_port, 20011},
  {tcp_accept_gs_ip, "127.0.0.1"},   
  {tcp_accept_gs_port, 20012},

  {tcp_conn_ps_ip, "127.0.0.1"},
  {tcp_conn_ps_port, 30001},

  {regest_server_conn_ip, "127.0.0.1"},
  {regest_server_conn_port, 9993},

  {tcp_limit_web_ip, []},
  {tcp_accept_web_port, 11111},

  {notice, "sb"},

  {platform_test_check, 0},

  {platform_count, 50},

  {platform_id1, 100},
  {platform_ip1, "http://sdk.test4.g.uc.cn/ss"},
  {platform_port1, 0},

  {platform_id2, 101},
  {platform_ip2, "http://sdk.g.uc.cn/cp/account.verifySession"},
  {platform_port2, 0},

  {platform_id3, 102},
  {platform_ip3, "http://m.v5game.cn/service/auth/cpcheck/"},
  {platform_port3, 0},


  {platform_id4, 103},
  {platform_ip4, "http://service.sj.91.com/usercenter/AP.aspx"},
  {platform_port4, 0},

  {platform_id5, 108},
  {platform_ip5, "http://sdk.m.duoku.com/openapi/sdk/checksession"},
  {platform_port5, 0},

  {platform_id6, 109},
  {platform_ip6, "http://ngsdk.d.cn/api/cp/checkToken"},
  {platform_port6, 0},

  {platform_id7, 105},
  {platform_ip7, "http://mis.migc.xiaomi.com/api/biz/service/verifySession.do"},
  {platform_port7, 0},

  {platform_id8, 104},
  {platform_ip8, "https://pay.wandoujia.com/api/uid/check"},
  {platform_port8, 0},

  {platform_id9, 106},
  {platform_ip9, ""},
  {platform_port10, 0},

  {platform_id10, 112},
  {platform_ip10, "http://api.appchina.com/appchina-usersdk/user/get.json"},
  {platform_port10, 0},

  {platform_id11, 110},
  {platform_ip11, "http://passport.lenovo.com/interserver/authen/1.2/getaccountid"},
  {platform_port11, 0},

  {platform_id12, 111},
  {platform_ip12, "https://id.gionee.com/account/verify.do?s=true"},
  {platform_port12, 0},

  {platform_id13, 107},
  {platform_ip13, "http://user.anzhi.com/web/api/sdk/third/1/queryislogin"},
  {platform_port13, 0},

  {platform_id14, 116},
  {platform_ip14, "http://app.5gwan.com:9000/user/info.php"},
  {platform_port14, 0},

  {platform_id15, 113},
  {platform_ip15, "http://thapi.nearme.com.cn/account/GetUserInfoByGame"},
  {platform_port15, 0},

  {platform_id16, 114},
  {platform_ip16, "http://m.wan.liebao.cn/user/validate_mutk"},
  {platform_port16, 0},

  {platform_id17, 201},
  {platform_ip17, "124.202.143.76"},
  {platform_port17, 9993},

  {platform_id18, 115},
  {platform_ip18, "http://119.147.19.43/v3/user/is_login"},
  {platform_port18, 0},

  {platform_id19, 203},
  {platform_ip19, "http://service.sj.91.com/usercenter/AP.aspx"},
  {platform_port19, 0},

  {platform_id20, 218},
  {platform_ip20, ""},
  {platform_port20, 0},

  {platform_id21, 223},
  {platform_ip21, ""},
  {platform_port21, 0},

  {platform_id22, 219},
  {platform_ip22, ""},
  {platform_port22, 0},

  {platform_id23, 209},
  {platform_ip23, "http://connect.d.cn/open/member/info/"},
  {platform_port23, 0},

  {platform_id24, 221},
  {platform_ip24, ""},
  {platform_port24, 0},

  {platform_id25, 217},
  {platform_ip25, ""},
  {platform_port25, 0},

  {platform_id26, 220},
  {platform_ip26, ""},
  {platform_port26, 0},

  {platform_id27, 224},
  {platform_ip27, ""},
  {platform_port27, 0},


  {platform_id28, 225},
  {platform_ip28, ""},
  {platform_port28, 0},


  {platform_id29, 222},
  {platform_ip29, ""},
  {platform_port29, 0},


  {platform_id30, 124},
  {platform_ip30, ""},
  {platform_port30, 0},

  {platform_id31, 123},
  {platform_ip31, ""},
  {platform_port31, 0},

  {platform_id32, 226},
  {platform_ip32, ""},
  {platform_port32, 0},

  {platform_id33, 126},
  {platform_ip33, ""},
  {platform_port33, 0},

  {platform_id34, 127},
  {platform_ip34, ""},
  {platform_port34, 0},

  {platform_id35, 128},
  {platform_ip35, ""},
  {platform_port35, 0},

  {platform_id36, 129},
  {platform_ip36, ""},
  {platform_port36, 0},

  {platform_id37, 130},
  {platform_ip37, "http://m.v5game.cn/service/auth/cpcheck/"},
  {platform_port37, 0},

  {platform_id38, 131},
  {platform_ip38, ""},
  {platform_port38, 0},

  {platform_id39, 231},
  {platform_ip39, ""},
  {platform_port39, 0},

  {platform_id40, 132},
  {platform_ip40, ""},
  {platform_port40, 0},

  {platform_id41, 133},
  {platform_ip41, "http://sdk.weiuu.cn/service/sdkuser/getUserInfo.json"},
  {platform_port41, 0},

  {platform_id42, 233},
  {platform_ip42, "http://203.195.162.167:8088/service/sdkuser/getUserInfo.json"},
  {platform_port42, 0},

  {platform_id43, 134},
  {platform_ip43, ""},
  {platform_port43, 0},

  {platform_id44, 135},
  {platform_ip44, ""},
  {platform_port44, 0},

  {platform_id45, 136},
  {platform_ip45, "http://api.mobile.gyyx.cn/gateway/user/login"},
  {platform_port45, 80},

  {platform_id46, 234},
  {platform_ip46, "http://sdk.23youxi.com/portUser.do"},
  {platform_port46, 80},
  
  {platform_id47, 137},
  {platform_ip47, "http://game.9uhd.com/sdk/loginVerify.php"},
  {platform_port47, 0},

  {platform_id48, 138},
  {platform_ip48, "https://usrsys.vivo.com.cn/auth/user/info"},
  {platform_port48, 0},

  {platform_id49, 139},
  {platform_ip49, "https://openapi.coolyun.com/oauth2/token"},
  {platform_port49, 0},

  {platform_id50, 140},
  {platform_ip50, "https://api.game.meizu.com/game/security/checksession"},
  {platform_port50, 0},

  {regionMaxCnt, 3},

  {debug_level, 5},
  {login_server_id, 1},
  {server_sign, "1234567890"}
] .
